---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "文章 | Posts" }}</h2>
    <button type="button" class="btn btn-secondary btn-sm" id="lang-switch">Switch Language</button>
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in site.posts -%}
      {% unless post.enus_only %}
      <li class="lang-zhcn">
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape | markdownify }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          <p>{{ post.excerpt }} </p>
        {%- endif -%}
      </li>
      {% endunless %}
      {% if post.enus or post.enus_only %}
      <li class="lang-enus" style="display: none;">
        <!-- english -->
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title_en | escape | markdownify }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          <p>{{ post.excerpt_en }}</p>
        {%- endif -%}
      </li>
      {% endif %}
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}">RSS</a></p>
  {%- endif -%}

</div>

<script src="{{ "/assets/language-selection.js" | relative_url }}"></script>
