---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <!-- <h1 class="post-title p-name lang-zhcn" itemprop="name headline" style="display: none;">{{ page.title | escape | markdownify }}</h1> -->
    <h1 class="post-title p-name lang-enus" itemprop="name headline">{{ page.title_en | escape | markdownify }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
      {%- if page.enus -%}
      <button type="button" class="btn btn-secondary btn-sm" id="lang-switch">Switch Language</button>
      {% elsif page.enus_only %}
      <div class="alert alert-info" role="alert">

        Due to technical limitations, this article does not support language switch. 中文版本在<a href="{{site.baseurl}}{{ page.url | replace: "_en.html", ".html"}}">此</a>。
        
        </div>
        
      {%- endif -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
  <hr>
  <div class="comment-tip">
    <p class="lang-enus">Wanna comment? Leave issue(s) at <a href="https://github.com/taoky/TAsterisk/issues">GitHub Issues Page of TAsterisk</a>. Feel free!</p>
    <!-- <p class="lang-zhcn" style="display: none;">想要评论？在 <a href="https://github.com/taoky/TAsterisk/issues">GitHub Issues 页面</a> 写吧！</p> -->
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>